<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Secure Web Application</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

{{!-- Navigation links --}}
<nav class="navbar p-4 navbar-expand-lg navbar-dark bg-dark">
    <h4 class="navbar-brand">Welcome Admin</h4>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Success & Error Messages --}}
{{#if message }}
<h6 class="alert alert-danger mt-4">{{message}}</h6>
{{/if}}
{{!-- Body --}}

<body>
    <div class="container mt-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Search for Users</div>
            <div class="card-body">
                <form action="/adminSearch" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="Suser" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <br>
            <div class="card-header">Delete Users</div>
            <div class="card-body">
                <form action="/adminDelete" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="Duser" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <center>
        {{#if image }}
        <img src="{{image}}" />
        {{/if}}
    </center>
    <br>
    <footer class="mx-auto" style="width: 400px;">
        Copyright @ Loka & Dou7 Inc. and Other Contributors.
    </footer>
    <br>
</body>

</html>